/* open-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v18-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v18-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v18-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v18-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  ::-ms-clear {
    display: none;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  #comebacker_main_div {
    display: none !important;
    height: 0px !important;
  }
  
  html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  select:-moz-focusring,
  a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  
  *:focus,
  *:visited,
  *:active,
  *:hover {
    outline: 0 !important;
  }
  
  a,
  a:focus,
  a:visited,
  a:active,
  a:hover {
    outline: 0 !important;
  }
  
  *::-moz-focus-inner {
    border: 0;
    outline: none;
  }
  
  select {
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("https://179523.selcdn.ru/public/layout-images/select-triangle.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
  }
  
  select:hover {
    background-size: 10px 10px;
    background-position: right 10px center;
  }
  
  select:focus {
    outline: none !important;
    outline-color: transparent;
    outline-width: 0;
  }
  
  select::-ms-expand {
    display: none !important;
    background: none !important;
    position: fixed;
    border: none !important;
    outline: none !important;
  }
  
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  select::-moz-focus-inner,
  option::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: none;
  }
  
  *:not(#fake) {
    outline: none;
  }
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  input[type='number'] {
      -moz-appearance: textfield;
  }

  input:invalid {
    box-shadow: none;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background: #f7f7f7
}
.alstep54_sglCGFT6q a {
    line-height: 1.5;
}

a {
    color: #1697ce
}

a:hover {
    color: #b0493b
}

a img {
    border: medium none
}

a:focus {
    outline: medium none
}

h1 {
    font-size: 24px;
    font-weight: 400
}

h2 {
    font-size: 22px;
    font-weight: 400
}

.alex_zevsa_wcih4ECQW {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding: 0 20px
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}


.katyakoncakova_FtFDdVex {
    position: relative;
    z-index: 15;
    background: #fff
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    margin-top: 14px;
    margin-bottom: 10px;
    float: left;
    width: 360px;
    text-decoration: none;
    color: #000;
    display: block;
    position: relative
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
    width: 74px;
    height: 80px;
    float: left
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
    font-size: 18px;
    margin-top: 17px;
    margin-left: 18px;
    width: 265px;
    float: left;
    text-transform: uppercase;
    line-height: 1
}
@media (max-width: 720px) {
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
        width: auto;
    }
    .alex_zevsa_wcih4ECQW {
        display: flex;
        justify-content: center;
    }
    .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
        margin-top: 0 !important;
    }
}
.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD {
    float: right;
    font-size: 12px;
    margin-top: 5px
}

.text-align-left p {
    text-align: left !important;
    text-indent: 0 !important
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    width: 330px;
    float: right;
    margin-top: 30px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .mansurovan_vUZn4RQN {
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
    float: right
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .Dulov_V_V_du3BxPsUO {
    font-weight: 700;
    color: #353746
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a {
    color: #353744
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a:hover {
    color: #b0493d
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .udav_t_slEtc0GR {
    margin: 0 5px
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .tata_soboleva_XjcqhmYZ7 {
    margin-top: 25px;
    position: relative;
    text-align: right
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    margin-top: 10px;
    background: none repeat scroll 0 0 #333541;
    height: 50px
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
    list-style: none outside none
}

.katyakoncakova_FtFDdVex .main-menu-blk>li {
    display: inline-block;
    margin-right: 23px;
    position: relative;
    padding: 17px 10px
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn {
    color: #cf4f3a;
    font-style: normal;
    margin-left: 4px
}

.alstep54_sglCGFT6q {
    font-size: 12px
}

.renul_seDwyoGn57 h2 {
    font-weight: 700;
    font-size: 36px;
    margin-top: 26px
}

.renul_seDwyoGn57 .dvksub_rYPIQ4ET {
    color: #6c6e7e;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 {
    margin-top: 25px;
    color: #6c6e7a;
    line-height: 1.5;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: 18px
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
    /* text-indent: 20px; */
    color: #000;
    /* text-align: justify; */
    /* margin: 15px; */
    line-height: 1.3;
    margin: 15px 0;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .udalykhnn_av3FDRJhB {
    text-align: center
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .AGB_yQobO46Dw {
    margin-top: 10px;
    font-size: 13px;
    color: #a1a1a2
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv {
    /* float: left; */
    padding: 0 30px 10px 0;
    color: #a1a1a8
}

.zhanna_86_o5IKudBv {
    background: none repeat scroll 0 0 #fff;
    padding: 27px 40px 0;
    margin: 0;
    border-radius: 4px
}

.zhanna_86_o5IKudBv h2 {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1
}

.altakansk_YrlOq5h6N {
    color: #6c6e83;
    margin: 0 5px
}

.dmavrodi_yjLIBb2Q {
    position: relative;
    z-index: 10
}

.web-s {
    -moz-user-select: none
}

.sazonov66_g9ysODlqt {
    margin-bottom: -340px;
    min-height: 100%;
    position: relative;
    background: no-repeat scroll center top #f7f7f7
}

.vk-container {
    font-size: 15px;
    color: #000;
    text-decoration: none
}

.vk-header {
    background: #dae2e8 none repeat scroll 0 0;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px
}

.vk-logo {
    background: transparent no-repeat scroll 0 0;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: #45688e;
    font-weight: 700
}

.vk-avatar img {
    float: left;
    margin-right: 10px
}

img {
    display: block
}

.vk-comment,
.vk-comment-load {
    position: relative;
    border-bottom: 1px solid #dae1e8;
    padding: 7px 0 0
}
.vk-comment {
    padding-bottom: 7px;
}
.vk-comment-load {
    padding-bottom: 1px;
}
.vk-comment:last-child {
    border-bottom: 0 none
}

/* .gelat_Bb6MhOHv img {
    margin-top: 20px
} */

.vk-comment-name {
    color: #2b587a;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}

center p {
    text-indent: 0 !important
}

.udalykhnn_av3FDRJhB img {
    margin: 0 auto
}

.vk-comment-text {
    margin-left: 60px;
    text-align: justify
}

.vk-comment-date {
    margin-left: 60px;
    color: #999;
    margin-top: 5px;
}

.btn {
    color: #fff;
    width: 100%;
    max-width: 350px;
    background: #f44336;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    text-decoration: none

}

.btn:hover {
    color: #fff;
    background: #c02419
}

p .prod-img {
    max-width: 210px;
    width: 100%;
    margin: 0 auto
}

@media screen and (max-width:1020px) {
    .alex_zevsa_wcih4ECQW {
        width: auto
    }

    .main-menu-blk {
        width: 100%;
        margin: 0 auto
    }

    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        margin: 0;
        text-align: center;
        height: 100%;
        padding: 0 5px
    }

    .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
        height: auto
    }

    .katyakoncakova_FtFDdVex .main-menu-blk>li a {
        line-height: 50px
    }

    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        width: 180px
    }

    .alex_zevsa_wcih4ECQW,
    .main-menu-blk {
        height: 100%
    }

    .web-s {
        display: none
    }

    body img {
        max-width: 100%
    }

    center>img {
        max-width: 100%
    }
}

@media screen and (max-width:999px) {
    .zhanna_86_o5IKudBv {
        padding: 15px 15px 0;
        margin-top: 15px;
    }
    .zhanna_86_o5IKudBv h2 {
        line-height: 1.1;
    }
}

@media screen and (max-width:720px) {
    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        padding: 5px
    }

    .text-align-left p {
        text-align: justify !important
    }

    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        display: none
    }

    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        margin: 0 auto;
        padding-right: 0;
        float: none;
        padding-bottom: 0
    }

    .renul_seDwyoGn57 .gelat_Bb6MhOHv>img {
        display: block;
        margin: 0 auto
    }

    .for-img {
        text-indent: 0 !important;
        color: #000;
        text-align: justify;
        margin: 15px;
        margin: 0 !important;
        line-height: 31px;
        font-size: 17px;
        text-align: center !important
    }

    .nonebr {
        display: none !important
    }

    .katyakoncakova_FtFDdVex .main-menu-blk>li a {
        line-height: 26px
    }

    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
        margin-top: 40px;
        float: none;
        width: auto;
        text-decoration: none;
        color: #000;
        display: block;
        position: relative;
        margin: 10px auto
    }

    .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
        margin: 15px 0
    }
    .main-menu-blk {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:550px) {

    .katyakoncakova_FtFDdVex .main-menu-blk>li:nth-child(5),
    .katyakoncakova_FtFDdVex .main-menu-blk>li:nth-child(6) {
        display: none
    }
}

@media screen and (max-width:479px) {
    .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
        text-indent: 0;
        color: #000;
        text-align: left;
        margin: 10px 0;
        line-height: 25px
    }

    .vk-comment-text {
        margin-left: 60px;
        text-align: left
    }

    .text-align-left p {
        text-align: left !important
    }
}

@media screen and (max-width:420px) {
    .zhanna_86_o5IKudBv {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        margin-top: 0 !important;
    }


    .katyakoncakova_FtFDdVex .main-menu-blk>li:nth-child(5),
    .katyakoncakova_FtFDdVex .main-menu-blk>li:nth-child(6) {
        display: none !important
    }

    .udalykhnn_av3FDRJhB img,
    body img {
        max-width: 100%
    }


    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
        width: auto;
        font-size: 16px
    }

    .alex_zevsa_wcih4ECQW {
        padding: 0
    }

}

.for-img {
    text-indent: 0 !important;
    color: #000;
    text-align: justify;
    margin: 15px;
    margin: 5px 0 !important;
    line-height: 31px;
    font-size: 17px
}

.vk-comment-load {
    border-bottom: none !important
}
.bg-grey {
    background-color:#e2e2e2; padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.bg-grey img {
    padding-right: 15px;
    flex-shrink: 0;
}
@media (max-width: 639px) {
    .katyakoncakova_FtFDdVex .main-menu-blk>li:nth-child(5) {
        display: none;
    }
    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        width: auto;
        padding: 0 10px;
    }

}
@media (max-width: 479px) {
    .bg-grey {
        flex-direction: column;
    } 
    .prod-img {
        max-width: 180px !important;
        width: 100% !important;
    }
    .vk-container,
    .renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p,
    body {
        font-size: 16px;
        line-height: 1.3;
    }
    .bg-grey__text p{
        text-align: center !important;
    }
    .bg-grey img {
        padding-right: 0;
    }
    .bg-grey {
        max-width: 330px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .zhanna_86_o5IKudBv h2 {
        text-align: center;
        margin-top: 0;
    }
    .alstep54_sglCGFT6q {
        display: none;
    }
    .katyakoncakova_FtFDdVex .main-menu-blk>li:nth-child(4) {
        display: none;
    }
    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        width: auto;
        padding: 0 10px;
    }
    .zhanna_86_o5IKudBv {
        margin-top: 20px;
    }
}
.tcenter {
    text-align: center;
}
.live {
    max-width: 400px;
    width: 100%;
    display: block;
    margin-top: 5px;
}
.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 150px;
}